.dashboardContentSection {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.apiKeyContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px 32px;
  justify-content: center;
  flex: 1;
}

.width {
  width: 100%;
}

.dashboardResetDate {
  font-size: var(--medium-text);
  font-weight: 400;
  line-height: 20px;
  color: var(--description);
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}
