.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

.dashboard-content-container {
  display: flex;
  flex-grow: 1;
  gap: 55px;
  padding: 0rem 0rem 2rem 0rem;
}

.dashboard-content-section {
  display: flex;
  gap: 32px;
  width: 100%;
}

.table-wrapper {
  width: 100%;
  padding: 0rem 0rem 2rem 0rem;
}

.active-status {
  color: var(--primary);
}

.inactive-status {
  color: var(--black);
}

.logout-wrapper {
  width: 100%;
  padding: 0rem 0rem 2rem 0rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .dashboard-container > aside {
    width: 100%;
  }

  .dashboard-content-container {
    padding: 0rem 0rem 1rem 0rem;
  }

  .dashboard-content-section {
    flex-direction: column;
  }

  .table-wrapper {
    padding: 1rem;
  }

  .logout-wrapper {
    padding: 0rem 0rem 1rem 0rem;
  }

  .logout-btn {
    width: 100%;
  }
}