.customInputGroup {
  position: relative;
  margin: 12px 0;
  width: 100%;
}

.customInput {
  color: var(--input-color);
  background: white;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  border-radius: var(--bradius);
  box-shadow: var(--shadow);
  border: var(--border);
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customInput:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--white) inset;
  -webkit-text-fill-color: var(--input-color);
}

.customInputLabel {
  position: absolute;
  left: 12px;
  color: var(--label-color);
  font-size: 14px;
  transform: translateY(12px);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
  cursor: text;
}

.customInput:focus {
  outline: none;
  border: solid 2px var(--smooth-purple);
}

.customInputGroup:focus-within .customInputLabel,
.customInputLabelActive {
  color: var(--smooth-purple);
  transform: scale(0.8);
  transform: translateY(-50%) translateX(2px);
  background-color: var(--white);
  padding: 0 4px;
}

.customInputGroup:not(:focus-within) .customInputLabel {
  color: var(--label-color);
}