.cardMainDiv {
  width: 380px;
  margin-top: 50px;
  background: var(--white);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.cardSubDiv {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cardSubDiv h1 {
  color: var(--black);
}

.cardSubDiv h3 {
  color: var(--description);
}

.planName {
  font-weight: 600;
  color: var(--description);
}

.planTagline {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--description);
  text-align: center;
}

.planInfoContainer {
  gap: 4px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.planKeypoints {
  color: var(--description);
  text-align: left;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.planKeypoints > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.width {
  width: 90%;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .cardSubDiv {
    padding: 12px;
    gap: 5px;
  }
}
