.apiContainer {
  background: var(--primary);
  padding: 3rem 4rem;
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  border-radius: 12px;
  margin: 0 auto;
  overflow: hidden;
}

.apiContent {
  max-width: 450px;
  text-align: left;
  margin-top: 2rem;
}

.apiContent h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.apiContent p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.searchBox {
  background: var(--white);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  width: 380px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  margin: auto 0;
  max-height: 300px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.searchContent {
  width: 100%;
}

.searchInputContainer {
  position: relative;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  transition: margin 0.3s ease-in-out;
}

.searchButton {
  background: none;
  border: none;
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.resultsContainer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    opacity 0.3s ease-in-out,
    max-height 0.3s;
  margin-top: 0.5rem;
}

.resultsContainer.show {
  opacity: 1;
  max-height: 140px;
  overflow-y: auto;
}

.resultsContainer::-webkit-scrollbar {
  width: 4px;
}

.resultsContainer::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 4px;
}

.resultsContainer::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
  margin: 4px 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: translateY(-5px);
  opacity: 0;
}

.resultItem.show {
  transform: translateY(0);
  opacity: 1;
}

.resultItem:hover {
  background-color: var(--white);
}

.resultItem img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 15px;
  object-fit: contain;
}

.resultItem span {
  color: var(--description);
  font-size: 1rem;
  font-weight: 500;
}

.resultItem:nth-child(1) {
  transition-delay: 0.1s;
}
.resultItem:nth-child(2) {
  transition-delay: 0.15s;
}
.resultItem:nth-child(3) {
  transition-delay: 0.2s;
}

.curvedArrow {
  position: absolute;
  bottom: -60px;
  left: 40%;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .apiContainer {
    padding: 4rem 6rem;
    width: 70vw;
  }

  .searchBox {
    margin-right: -50px;
    margin-top: 50px;
  }

  .apiContent {
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .apiContainer {
    padding: 4rem 4rem;
    width: 80vw;
  }

  .searchBox {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .apiContainer {
    padding: 3rem 2rem;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .apiContent {
    max-width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .apiContent h1 {
    font-size: 2.5rem;
  }

  .apiContent p {
    font-size: 1.1rem;
  }

  .searchBox {
    margin: 2rem 0 0 0;
    width: 80%;
    max-width: 375px;
  }

  .curvedArrow {
    display: none;
  }
}

@media (max-width: 480px) {
  .apiContainer {
    padding: 2rem 1rem;
    width: 80vw;
  }

  .apiContent h1 {
    font-size: 2rem;
  }

  .apiContent p {
    font-size: 1rem;
  }

  .searchBox {
    max-width: 80%;
  }
}
