.apiContainer {
  background: var(--primary);
  padding: 3rem 4rem;
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  overflow: hidden;
}

.apiContent {
  max-width: 450px;
  text-align: left;
  margin-top: 2rem;
}

.apiContent h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.apiContent p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.searchBox {
  background: var(--table-background);
  border-radius: 12px;
  padding: 2rem 2.5rem;
  width: 380px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  margin: auto 0;
  max-height: 300px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.searchContent {
  width: 100%;
  border: var(--border);
  border-radius: 0.75rem;
  background-color: var(--white);
}

.searchInputContainer {
  position: relative;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  transition: margin 0.3s ease-in-out;
}

.searchButton {
  background: none;
  border: none;
  position: absolute;
  left: 1.156rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: auto;
}

.resultsContainer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    opacity 0.3s ease-in-out,
    max-height 0.3s;
  margin-top: 0.5rem;
}

.resultsContainer.show {
  opacity: 1;
  max-height: 140px;
  overflow-y: auto;
}

.resultsContainer::-webkit-scrollbar {
  width: 4px;
}

.resultsContainer::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 4px;
}

.resultsContainer::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.375rem;
  border-radius: 6px;
  margin: 4px 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: translateY(-5px);
  opacity: 0;
}

.resultItem.show {
  transform: translateY(0);
  opacity: 1;
}

.resultItem:hover {
  background-color: var(--white);
}

.resultItem img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 15px;
  object-fit: contain;
}

.resultItem span {
  color: var(--description);
  font-size: 1rem;
  font-weight: 500;
}

.resultItem:nth-child(1) {
  transition-delay: 0.1s;
}
.resultItem:nth-child(2) {
  transition-delay: 0.15s;
}
.resultItem:nth-child(3) {
  transition-delay: 0.2s;
}

.curvedArrow {
  position: absolute;
  bottom: -60px;
  left: 30%;
}

.searchBoxInput {
  border: 0;
  padding-left: 2.8rem;
  border-radius: 1rem;
  box-shadow: none;
  background-color: var(--white);
  outline: none;
  height: 3.5rem;
  color: var(--description);
  width: 100%;
  font-size: 1.2rem;
}

.searchBoxInput:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--white) inset;
  -webkit-text-fill-color: var(--input-color);
}

.searchBoxInput:focus {
  border: none;
}

.searchButton > img {
  height: 18px;
  width: 18px;
  margin-left: -2px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .apiContainer {
    padding: 4rem 6rem;
    margin: 0 2.875rem;
  }

  .searchBox {
    margin-right: -50px;
    margin-top: 50px;
  }

  .apiContent {
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .apiContainer {
    padding: 4rem 4rem;
    margin: 0 2.875rem;
  }

  .curvedArrow {
    left: 25%;
  }

  .searchBox {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .apiContainer {
    padding: 3rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1.875rem;
  }

  .apiContent {
    max-width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .apiContent h1 {
    font-size: 2.5rem;
  }

  .apiContent p {
    font-size: 1.1rem;
  }

  .searchBox {
    margin: 6rem 0 0 0;
  }

  .curvedArrow {
    top: 155px;
    left: -24px;
    transform: rotate(60deg);
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .apiContainer {
    padding: 2rem 1rem;
    margin: 0 1rem;
  }

  .searchBox {
    margin: 4.5rem 0 0 0;
    width: 100%;
    padding: 1rem;
  }

  .apiContent h1 {
    font-size: 2rem;
  }

  .apiContent p {
    font-size: 1rem;
  }
}
