.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  width: 50%;
  max-width: 1220px;
  max-height: 90%;
  padding: 24px;
  gap: 16px;
  background: #f8f8f9;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 16px;
  font-size: 28px;
  background: none;
  border: none;
  color: #080809;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #6366f1;
}

.contactForm {
  width: 100%;
  max-width: 492px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputField,
.textArea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #080809;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.textArea {
  resize: none;
  height: 100px;
}

.inputField::placeholder,
.textArea::placeholder {
  color: #090808;
}

.inputField.invalid,
.textArea.invalid {
  color: rgb(230, 6, 6);
  border-color: rgb(230, 6, 6);
}

.submitButton {
  width: 154px;
  height: 48px;
  background-color: #6366f1;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.submitButton:hover {
  background-color: #3830d9;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.successNotification {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  width: 40%;
  text-align: center;
  z-index: 1010;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation:
    slideIn 0.5s ease-out,
    fadeOut 2s 5s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@media (max-width: 768px) {
  .modalContent {
    padding: 16px;
    width: 90%;
    gap: 12px;
    overflow-y: auto;
  }

  .contactForm {
    width: 100%;
    gap: 8px;
  }

  .inputField,
  .textArea {
    width: 100%;
    padding: 0.8rem;
  }

  .submitButton {
    width: 154px;
    max-width: 100%;
    padding: 0.8rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .modalContent {
    max-height: 80%;
    overflow-y: auto;
  }

  .submitButton {
    width: 154px;
    max-width: 100%;
    padding: 0.8rem 1.2rem;
    margin-bottom: 8px;
  }

  .inputField,
  .textArea {
    width: 100%;
    font-size: 16px;
  }

  .successNotification {
    font-size: 12px;
    width: 55%;
  }
}
