.currentPlan {
  color: rgb(17 24 39);
  font-size: var(--large-text);
  line-height: 28px;
  font-weight: 600;
  margin: 12px 0px;
  padding-top: 16px;
}

.currentPlanTagline {
  color: var(--description);
  font-size: var(--medium-text);
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.apikeyInput {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: var(--bradius);
  box-shadow: var(--shadow);
  border: var(--border);
  width: calc(100% - 24px);
  max-width: 450px;
}

.upgradeButton {
  max-width: 100%;
  color: var(--black);
  background-color: var(--white);
  border-radius: var(--bradius);
  box-shadow: var(--shadow);
  border: var(--border);
  cursor: pointer;
  min-height: 39px;
  padding: 12px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

