.table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
    background-color: var(--table-background);
}

.tableHeader {
    padding: 0.75rem 1.5rem;
    text-align: left;
    font-size: 1.2rem;
    color: var(--black);
}

.tableCell {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    color: var(--table-cell-color);
}