.custom-table {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--table-background);
    border: var(--border);
    border-radius: 0.5rem;
}

.table-header {
    padding: 0.75rem 1.5rem;
    text-align: left;
    font-size: 1.2rem;
    color: var(--black);
    background-color: var(--header-background);
    border: 1px solid var(--border-color);
}

.table-cell {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: var(--description);
    border: 1px solid var(--border-color);
}

.no-data {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: var(--description);
    font-style: italic;
    background-color: var(--table-background);
    border: 1px solid var(--border-color);
}

@media only screen and (max-width: 1024px) {
    .custom-table {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 780px) {
    .custom-table {
        font-size: 0.9rem;
    }

    .table-header {
        padding: 0.5rem 1rem;
    }

    .table-cell {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 564px) {
    .custom-table {
        font-size: 0.8rem;
        margin: 0.8rem;
    }

    .table-header,
    .table-cell {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
}