/* catalog item */
.catalog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: var(--border);
  color: var(--description);
  gap: 16px;
  font-size: 1.2rem;
}

.catalog-item-inner {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.catalog-item-column-first {
  flex: 2;
  word-break: break-all;
}

.catalog-item-column-last {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.reupload-btn {
  padding: 0.5rem 1rem;
}

/* mobile layout styles for catalog item */
@media (max-width: 780px) {
  .catalog-item {
    flex-direction: column;
    align-items: initial;
  }

  .catalog-item-inner {
    display: flex;
    justify-content: space-between;
  }

  .created:before {
    content: "Created ";
    color: var(--smooth-gray);
  }

  .updated:before {
    content: "Updated ";
    color: var(--smooth-gray);
  }

  .reupload-btn {
    width: 100%;
  }

  .catalog-item-column-first {
    font-weight: 500;
  }
}
