.block {
  display: flex;
  background-color: var(--white);
  border-top: var(--border);
  border-bottom: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 0;
  align-items: center;
  gap: 1.25rem;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  color: var(--black);
  font-size: 1.75rem;
  cursor: pointer;
  border: none;
  background-color: var(--white);
  user-select: none;
}

.footer-items {
  display: flex;
  color: var(--description);
  font-weight: 600;
  font-size: 1.15rem;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  padding: 0 1.25rem;
}

.footer-item {
  text-decoration: none;
  color: unset;
  transition: all 0.3s ease-in-out;
}

.footer-item:hover {
  color: var(--primary);
}

.footer-copyright,
.footer-powered {
  color: var(--description);
  font-size: 1.15rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.footer-powered:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  transition: all 0.3s ease-in-out;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

@media only screen and (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0;
    gap: 0.85rem;
  }

  .footer-logo {
    font-size: 1.5rem;
  }

  .footer-logo img {
    width: 28px;
    height: 28px;
  }

  .footer-copyright,
  .footer-powered {
    min-width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.9rem 1.1rem;
    align-items: center;
    margin: 0.35rem 0;
    padding: 0;
  }
}
