.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
  border-top: var(--border);
}

.footer-logo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
}

.footer-items {
  display: flex;
  color: var(--description);
  font-weight: 600;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.footer-item {
  text-decoration: none;
  color: unset;
  transition: all 0.3s ease-in-out;
}

.footer-item:hover {
  color: var(--primary);
}

.footer-copyright,
.footer-powered {
  color: var(--description);
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.footer-powered:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  transition: all 0.3s ease-in-out;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 20px 24px;
  }

  .footer-logo {
    font-size: 1.125rem;
  }

  .footer-logo img {
    width: 28px;
    height: 28px;
  }

  .footer-copyright,
  .footer-powered {
    min-width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
    color: var(--gray-text);
    font-weight: 500;
    gap: 4px;
    align-items: start;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 4px;
  }
}
