:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
	--white: rgb(255, 255, 255);
	--smooth-purple: rgb(79, 70, 229);
	--black: rgb(17, 24, 39);
	--smooth-gray: rgb(107 114 128);
	--description: rgb(75, 85, 99);
	--light-purple: rgba(79, 70, 229, 0.1);
	--faded-purple: rgba(79, 70, 229, 0.5);
	--border: 2px solid rgb(229, 231, 235);
	--bradius: 6px;
	--shadow: rgba(140, 152, 164, 0.125) 0px 6px 24px 0px;
	--small-text: 12px;
	--medium-text: 16px;
	--large-text: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
