body.activemodal {
  overflow: hidden;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.2rem 0;
  border-bottom: var(--border);
}

.header-logo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.header-items {
  font-size: 1rem;
  display: flex;
  color: var(--description);
  font-weight: 600;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.header-item {
  text-decoration: none;
  color: unset;
}

.header-item:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  transition: all 0.3s ease-in-out;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.header-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-container {
    justify-content: space-between;
    padding: 20px 24px;
  }
  .header-logo {
    font-size: 1.125rem;
  }
  .header-items {
    display: none;
  }
  .header-button {
    display: none;
  }

  .signup-modal {
    display: none;
  }

  .header-hamburger {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
