.mobile-header {
  padding: 2rem 0;
  position: absolute;
  background-color: var(--white);
  left: 0;
  top: 70px;
  width: 100%;
  border-bottom: var(--border);
  box-shadow: var(--dark-shadow-menu);
  z-index: 50;
  animation: slideInFromBottom 0.3s ease-in-out;
}

.mobile-header-exit {
  animation: slideOutToBottom 0.3s ease-in-out;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.nav {
  text-decoration: none;
  color: var(--description);
  font-weight: 600;
  font-size: 1.4rem;
}

.nav:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 564px) {
  .mobile-header {
    top: 64px;
  }

  .nav {
    font-size: 1.2rem;
  }
}
