.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  width: 50%;
  max-width: 1220px;
  max-height: 90%;
  padding: 24px;
  gap: 16px;
  background: var(--white);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 16px;
  font-size: 28px;
  background: none;
  border: none;
  color: #080809;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #6366f1;
}

.contactForm {
  width: 100%;
  max-width: 492px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textArea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--bradius);
  outline: none;
  resize: vertical;
  line-height: 1.5;
  transition:
    border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  color: var(--description);
}

h3 {
  font-size: 2rem;
  color: var(--black);
}

.textArea {
  height: 100px;
}

.textArea::placeholder {
  color: var(--label-color);
}

.textArea:focus::placeholder {
  color: var(--primary);
}

.textArea:focus {
  border-color: var(--primary);
}

.textArea.invalid {
  color: rgb(230, 6, 6);
  border-color: rgb(230, 6, 6);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.successNotification {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  width: 40%;
  text-align: center;
  z-index: 1010;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation:
    slideIn 0.5s ease-out,
    fadeOut 2s 5s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@media (max-width: 768px) {
  .modalContent {
    padding: 16px;
    width: 90%;
    gap: 12px;
    overflow-y: auto;
  }

  .contactForm {
    width: 100%;
    gap: 8px;
  }

  .textArea {
    width: 100%;
    padding: 0.8rem;
  }
}

@media (max-width: 480px) {
  .modalContent {
    max-height: 80%;
    overflow-y: auto;
  }

  .textArea {
    width: 100%;
    font-size: 16px;
  }

  .successNotification {
    font-size: 12px;
    width: 55%;
  }
}
