.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding-bottom: 1rem;
}

.form-width {
  width: 100%;
}

.text-area {
  width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 250px;
  padding: 12px;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--white);
  border: var(--border);
  margin-bottom: 8px;
  border-radius: var(--bradius);
  outline: none;
  resize: vertical;
  line-height: 1.5;
  transition:
    border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  color: var(--description);
}

.title {
  font-size: 2rem;
  color: var(--black);
  text-align: center;
}

.text-area::placeholder {
  color: var(--label-color);
}

.text-area:focus::placeholder {
  color: var(--primary);
}

.text-area:focus {
  border-color: var(--primary);
}

.input-error {
  color: var(--error);
  font-size: 0.8rem;
  margin-top: -9px;
  margin-bottom: 9px;
  margin-left: 3px;
  opacity: 0;
  max-height: 1px;
  width: 100%;
  transition:
    opacity 0.2s ease-in-out 0.3s,
    max-height 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

.has-error {
  opacity: 1;
  max-height: 50px;
  padding: 1px;
}
