/* catalog item */
.catalog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: var(--border);
  color: #000;
  gap: 16px;
}
.catalog-item-inner {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.catalog-item-column-first {
  flex: 2;
  word-break: break-all;
}
.catalog-item-column-last {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.reupload-btn {
  padding: 8px 16px;
  color: var(--smooth-purple);
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
}

/* mobile layout styles for catalog item */
@media (max-width: 600px) {
  .catalog-item {
    flex-direction: column;
    align-items: initial;
  }
  .catalog-item-inner {
    display: flex;
    justify-content: space-between;
    color: var(--black);
  }
  .created:before {
    content: "Created ";
    color: var(--smooth-gray);
  }
  .updated:before {
    content: "Updated ";
    color: var(--smooth-gray);
  }

  .reupload-btn {
    width: 100%;
    background-color: #fff;
  }

  .catalog-item-column-first {
    font-weight: 500;
    color: var(--black);
  }
}
