.features-container {
  padding: 2rem 0;
}

.features-container-head {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.features-container-head > h2 {
  margin-bottom: 1rem;
  color: var(--black);
  font-size: 3rem;
}

.features-container-head > p {
  max-width: 768px;
  color: var(--description);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.features-container-body {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.features-container-body-item {
  flex: 1 1 350px;
  max-width: 400px;
}

.features-container-body-item img {
  width: 3rem;
  height: 3rem;
  padding: 10px;
  display: block;
}

.features-container-body-item > h3 {
  padding: 1rem 0;
  color: var(--description);
  font-size: 1.2rem;
  font-weight: 600;
}

.features-container-body-item > p {
  color: var(--description);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .features-container {
    padding-left: 0;
    margin: 1rem 1rem;
  }
  .features-container-head > p {
    font-size: 16px;
    line-height: 21.6px;
  }
  .features-container-body {
    margin: 0 0 0 1rem;
  }
  features-container-body-item img {
    border-width: 6px;
  }
  .features-container-body-item > h3 {
    font-size: 18px;
  }
}
