.features-container {
  margin: 16px 32px;
  font-family: Inter, sans-serif;
  padding-left: 77px;
}

.features-container-head {
  padding: 16px 0;
  margin-bottom: 24px;
}

.features-container-head > h2 {
  margin: 12px 0;
  color: #101828;
  font-weight: 600;
  font-size: 36px;
}

.features-container-head > p {
  max-width: 768px;
  color: #475467;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.features-container-body {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.features-container-body-item {
  flex: 1 1 350px;
  max-width: 400px;
}

.features-container-body-item img {
  background-color: #F4EBFF;
  border: solid 8px #F9F5FF;
  border-radius: 50%;
  padding: 10px;
  display: block;
}

.features-container-body-item > h3 {
  padding: 16px 0;
  color: #101828;
  font-size: 20px;
  font-weight: 600;
}

.features-container-body-item > p {
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (max-width: 768px) {
  .features-container {
    padding-left: 0;
  }
  .features-container-head > p {
    font-size: 16px;
    line-height: 21.6px;
  }
  features-container-body-item img {
    border-width: 6px;
  }
  .features-container-body-item > h3 {
    font-size: 18px;
  }
}