.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 94px;
  background-image: url("hero-background.png");
  padding: 90px 0;
  background-position: center;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  h1 {
    font-size: 3.8rem;
    line-height: 4.5rem;
    color: var(--black);
  }
  p {
    font-size: 1.2rem;
    color: var(--description);
    font-weight: 500;
    line-height: 1.8rem;
  }
}

.button-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;
    padding: 32px 16px 64px;
  }
  .text-section {
    align-items: center;
    text-align: center;
    gap: 16px;
    h1 {
      font-size: 36px;
      font-weight: 600;
      line-height: 43.3px;
      color: #101828;
    }
    p {
      font-size: 16px;
      color: #475467;
      font-weight: 400;
      line-height: 21.6px;
    }
  }
  .left-section {
    align-items: center;
    gap: 24px;
  }
  .logo-images {
    height: 219.63px;
    width: 200px;
  }
  .button-section {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    button {
      width: 100%;
    }
  }
}
