.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 17rem;
  margin-bottom: 3rem;
}

.button {
  background: rgb(79, 71, 228);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: auto;
  height: 2rem;
  padding: 7px;
}

.button[aria-pressed="true"] {
  background-color: rgb(6, 1, 97);

  transform: translateY(0);
  outline: none;
}
.buttonParent {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}
