.logout-wrapper {
  width: 100%;
  padding: 0rem 0rem 2rem 0rem;
}

.profile-button {
  border: var(--border);
  background-color: var(--white);
  color: var(--description);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  shadow: var(--shadow);
  cursor: pointer;
  position: relative;
}

.profile-button:hover {
  border: 1px solid var(--border-color);
  background-color: var(--border-color);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.dropdown-menu {
  position: absolute;
  top: 70px;
  right: -30px;
  background-color: var(--white);
  border: var(--border);
  border-radius: 8px;
  box-shadow: var(--shadow);
  width: 180px;
  padding-top: 5px;
  padding-left: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.items{
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  color: var(--description);
}
.items:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.active {
  font-weight: 700;
  color: var(--primary);
}
