.card {
  border-radius: 16px;
  background: #f8f8f9;
  display: flex;
  padding: 96px 0px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
}
.cardContent {
  display: flex;
  width: 100%;
  padding: 0 100px;
  justify-content: space-between;
  align-items: last baseline;
  gap: 40px;
}
.cardTitle, .cardValue, .changeValuePositive, .changeValueNegative, .trackingText {
  font-family: Inter;
  font-style: normal;
  line-height: normal;
}
.cardTitle {
  color: #475467;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.cardValue {
  color: var(--Primary-blue, #4f46e5);
  font-size: 64px;
  font-weight: 600;
}
.changeValuePositive, .changeValueNegative {
  font-size: 20px;
  font-weight: 600;
}
.changeValuePositive {
  color: #00b69b;
}
.changeValueNegative {
  color: #f93c65;
}
.trackingText {
  color: #667085;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}
.leftContent, .rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.leftContent {
  gap: 16px;
}
.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-width: 100px;
  text-align: right;
}
.changeGraph {
  width: 50px;
  height: 30px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .card {
    padding: 32px 0px;
    height: auto;
  }
  .cardContent {
    padding: 0 15px;
  }
  .cardTitle {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
  .cardValue {
    font-size: 36px;
    min-width: 100px;
  }
  .changeValuePositive, .changeValueNegative {
    font-size: 16px;
  }
  .trackingText {
    font-size: 14px;
  }
  .leftContent {
    gap: 4px;
    width: 150px;
  }
  .rightContent {
    gap: 4px;
    min-width: 80px;
  }
  .changeGraph {
    width: 39.429px;
    height: 24px;
  }
}
