.container {
	background: var(--White, #fff);
	display: flex;
	padding: 16px 120px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}
.analyticSection {
	opacity: 0.99;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	align-self: stretch;
}
.cardGroup {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}
/* Mobile styles */
@media (max-width: 768px) {
	.container {
		background: var(--White, #fff);
		display: flex;
		padding: 16px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
	}
	.analyticSection {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
	}
	.cardGroup {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
	}
}
