.dashboardContentItem {
    border-radius: 8px;
    border: var(--border);
    box-shadow: 0 4px 6px rgba(0, 0.1, 0.1, 0.1);
    background-color: var(--white);
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .contentItemHeading {
    color: var(--black);
    font-size: var(--large-text);
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }

  .changepasswordbutton {
    margin: 1rem 0;
  }

.alertMessage {
  height: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.successMessage {
  color: green;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: #ff3333;
  font-size: 0.9rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changePasswordButton{
  width: 100%;
}